.carousel{
  position: relative;
  width: 100%;
  color:#FFF;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  .container{
    height: 100%;
    position: relative;
  }
  &-item{
    background-size: cover;
    background-position: center;
    display: inline-block;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    position: absolute;
    top:-20px;
    left: 0px;
    transform: scale(1.1);
    @media (max-width: 600px)
    {
      height: 40%;
      padding: 0px;
    }
    &:before{
      content:"";
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.8) 25%,rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left:0px;
    }
    &.active{
      visibility: visible;
      opacity: 1;  
      top:0px;  
      transform: scale(1);
    }
    &.item-1{
      background-image: url(img/image-1.jpg);
      @media (max-width: 600px)
      {
        background-image: url(img/image-1_mb.jpg);
      }
    }
    &.item-2{
      background-image: url(img/image-2.jpg);
      @media (max-width: 600px)
      {
        background-image: url(img/image-2_mb.jpg);
      }
    }
    &.item-3{
      background-image: url(img/image-3.jpg);
      @media (max-width: 600px)
      {
        background-image: url(img/image-3_mb.jpg);
      }
    }
    &__content{
      width: 300px;
      position: absolute;
      top: 45%;
      left: 0px;
      z-index: 15;
      @media (max-width: 600px)
      {
        width: 70%;
        top: 85%;
        margin: 0 15%;
        text-align: center;
      }
    }
  }
  &-nav{
    position: absolute;
    bottom: 0px;
    width: 100%;
    ul{
      padding: 0px;
      display: flex;
      max-width: 100%;
      width: 70%;
      justify-content: space-between;
    }
    @media (max-width: 600px)
    {
      width: 60%;
      margin-left: 20%;
      bottom: 15%;
      ul{
        display: inline-block;
        width: 100%;
      }
    }
    li{
      list-style: none;
      font-size: 32px;
      line-height: 36px;
      margin: 30px 0px 30px 0;
      max-width: 170px;
      @media (max-width: 600px)
      {
          max-width: 100%;
          text-align: center;
      }
    }
    &__link{
      cursor: pointer;
      text-shadow: 0 0 3px #0000006b;
      @media (max-width: 600px)
      {
        display: none;
        visibility: hidden;
        opacity: 1;
      }
      &:after{
        content:"";
        display: block;
        height: 4px;
        width: 40px;
        background-color: #FFF;
        margin-top: 20px;
        opacity: 0;
        left: 50px;
        position: relative;
        transition:  all 0.3s;
        border-radius: 3px;
        @media (max-width: 600px)
        {

          margin: 30px auto;
        }
      }
      &:hover{
        text-decoration: underline;
      }
      &.active{
        font-weight: bold;
        display: block;
        opacity: 1;
        visibility: visible;
        &:after{
          opacity: 1;
          left: 0px;
        }
      }
    }
    &__arrow{
      background: url(img/arrow-white.svg) no-repeat center;
      background-size: contain;
      height: 30px;
      width: 30px;
      position: absolute;
      font-size: 50px;
      font-weight: bold;
      left: -50px;
      top: 50%;
      transform: translateY(-50%) rotate(-180deg);
      text-indent: -9999px;
      &.next{
        left: 70%;
       // right: -50px;
        transform: translateY(-50%);
        @media (max-width: 600px)
        {
          right: -50px;
          left: auto;
        }
      }
    }
  }
}
.tell-history{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 10;
  background-color: 000;
  transition: all 0.3s;
  @media (max-width: 600px)
  {
    right: 20px;
    bottom: 20px;
    height: 80px;
    width: 80px;
    p{
      top: 50% !important;
    }
  }
  p{
    color: #FFF;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 75%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    margin: 0px;
    z-index: 5;
  }
  img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    opacity: 0.7;
    transition: all 0.3s;
  }
  &:hover{
      transform: scale(1.2);
  }
}