body{
  font-family: 'Gilroy';
  font-size: 16px;
  line-height: 22px;
}
a{
  color:#FFF;
  text-decoration: none;
}
.container{
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  @media (max-width: 600px)
  {
    padding: 0px;
  }
}
.btn{
  color:#FFF;
  border-radius: 20px;
  border: 2px solid #FFF;
  padding: 7px 15px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s;
  margin: 20px 0;
  &:hover{
    background-color: #FFF;
    color: #000;
  }
}